body{
font-family: 'Source Sans Pro', sans-serif !important;

}
.Featured_On {
	background-color: #234b7e;
	margin: 0 auto;
	text-align: center;
	padding-top: 20px;
	padding-bottom: 30px;
}
.Featured_On h1 {
	font-size: 46px;
	color: #fff;
	margin-bottom: 17px;
}
.use_chat_bubble img {
	width: 60px;
}
.use_chat_bubble {
	margin: 30px auto 60px;
	text-align: center;
}
.github_outer99 {
	margin: 0 auto;
	text-align: center;
}
.github_outer99 img {
	width: 60%;
}
.own_natural {
	margin-left: 30%;
}
.github_outer {
	margin: 40px auto;
	text-align: center;
}
.github_outer img {
	width: 300px;
	margin: 0 auto;
	text-align: center;
}
.github_text {
	margin-left: 80px;
	margin-right: 50px;
}
.read_further {
	margin-left: 10%;
	margin-bottom: 20px;
}
.open_source_banner {
	background-color: #234b7e;
	padding-top: 50px;
	padding-bottom: 50px;
	margin-top: 50px;
}
.custom_circle5.fa.fa-circle {
	font-size: 13px;
}
.cases_outer {
	margin-top: 60px;
}
.right_overlap p {
	color: #fff;
}
.chat_bubble {
	text-align: center;
	font-size: 42px;
}
.bulied_images img {
	width: 40%;   
}
.open_banner_overlap {
	color: #fff;
	margin-bottom: 40px;
}
.bulied_images img {
	float: right;
}
.enterprise_outer a:hover {
	color: #fff !important;
}
.schule_outer a {
	color: #fff;
}
.schule_outer {
	float: left;
}
.analytics_white {
	background-color: #fff;
	padding: 7px 10px;
}
.bllue_team {
	background-color: #234b7e;
	color: #fff;
	padding: 7px 10px 12px;
}
.dolar_right {
	float: right;
}
.bllue_team01 {
	background-color: #234b7e;
	border-radius: 5px;
	padding: 6px 13px 14px;
	color: #fff;
	text-align: center;
	font-weight: bold;
	font-size: 24px;
	margin-top: 30px;
	overflow: hidden;
}
.enterprise_images img {
	width: 50%;
}
.enterprise_images {
	margin: 50px auto;
	text-align: center;
}  

.three_images.enterprise {
	margin: 40px auto 15px;
	text-align: center;
}
.science_outer {
	text-align: center;
	font-size: 36px;
	margin-bottom: 20px;
}
.custom_center {
	text-align: center;
	margin-top: 10px;
}


.privacy-policy, .terms, .help, .enterprise_outer {
	margin-top: 100px;
	margin-bottom: 50px;
}  
.terms_inner h1, .help  h1, .enterprise_inner h1 {
	text-align: center;
	margin-bottom: 15px;  
}

.privacy-policy p, .help p {
	font-size: 18px;
} 

.share_outer p {
	margin-left: 35px;
	margin-top: 11px;
}
.share_outer p .fa {
	margin-right: 10px;
	color: #234b7e;
}
.privacy_inner h1 {
	text-align: center;
	margin-bottom: 20px;
}
.step_img_outer img {
	width: 100%;
	margin-top: 50px;
}
.step01 h2 {
	font-size: 40px;
}
.include_outer img {
	width: 50px;
	margin: 0 auto;
	padding-right: 22px;
}
.include_both {
	width: 100%;
	margin: 20px auto;
	text-align: center;
	overflow: hidden;
	margin-left: 140px;
}
.supported_outer {
	padding-top: 20px;
	padding-bottom: 30px;
}
.supported_outer h2 {
	text-align: center;
	margin-bottom: 10px;
}
.step01 {
	margin-top: 40px;
	text-align: right;
}
.bot_outer {
	text-align: center;
	margin-top: 50px;
	margin-bottom: 30px;
}
.bot_rule_image {
	margin-top: 50px;
}
.bot_rule_image img {
	width: 40%;
}
.function_outer {
	background-color: #fafafa;
	padding-top: 30px;
	padding-bottom: 50px;
}
.funtion_heading {
	text-align: center;
}
.requirements .fa {
	font-size: 52px;
	margin-top: 50px;
	color: #234b7e;
}
.requirements h3 {
	font-size: 23px;
	margin-bottom: 18px;
}
.requirements p {
	font-size: 18px !important;
}
#basic-addon2 {
	background-color: #10856a !important;
	color: #fff;
}
.banner_overlap.developer p {
	margin-top: 30px;
}
.developer_search {
	margin-top: 40px;
}
.developers_bulid {
	text-align: center;
}

.banner_outer.developers_page {
	height: auto;
	padding-bottom: 70px !important;
	margin-bottom: 20px;
}
.banner_overlap.developer {
	color: #fff;
text-align:center;	
}
.developer_overlap p {
	font-size: 16px;
}
.free_mail {
	font-size: 32px;
}
.fa.fa-circle.custom_circle {
	font-size: 21px;
}
.save_time_outer {
	width: 60%;
	margin: 0 auto;
}
.save_time_outer .free_mail {
	text-align: left;
}
.welcomeback {
	margin-top: 100px;
}
.reports {
	margin: 0 auto;
	color: #fff;
}
.reports h1 {
	color: #fff;
	text-align: center;
	margin-top: 35px;
	margin-bottom: 25px;
}
.email_repoprts {
	width: 70%;
	margin: 0 auto;
}
.bg_text01 {
	margin-top: 15px;
	margin-bottom: 15px;
}
.blue.red_more_blue::before {
	bottom: 0px !important;
}
.custom_log_google .btn.btn-primary {
	margin-top: 30px;
}
.blue.red_more_blue {
	padding-bottom: 110px;
}
.minutes {
	text-align: center;
}
.welcomeback img {
	width: 40%;
}
.archie58.middle_outer8.custom_log_google {
	width: 30% !important;
	margin: 0 auto !important;
}
.google_analytics.custom_read {
	margin-top: 50px !important;
	position: inherit !important;
}
.email_us a:hover {
	color: #fff !important;
}
.contact_form .btn.btn-default {
	background-color: #234b7e;
	color: #fff;
	padding: 9px 50px;
	text-transform: uppercase;    
	font-weight: bold;
	font-size: 16px;
}
.contact_form {
	margin-top: 100px;
	margin-bottom: 50px;
}
.inner_form {
	border: 1px solid #ccc;
	padding: 30px;
}
.contact_text {
	text-align: center;
	margin-top: 0px;
}
.top_ten_outer {
	margin-top: 60px;
}
a:hover {
	color: #234b7e !important;
}
.first02 span {
	font-size: 14px;
	margin-left: 10px;
}
/**sign in start**/
.sign_border {
	border: 1px solid #ccc;
	border-radius: 4px;
	padding: 20px 15px;
}
.sign_outer {
	margin-top: 130px;
	margin-bottom: 80px;
}
.sign_border h1 {
	text-align: center;
	margin-top: 0;
	margin-bottom: 20px;
}
.first02 span{
	font-size
}
.google .btn.btn-primary, .gmail .btn.btn-primary {
	width: 100%;
	padding: 10px;
	margin-bottom: 12px;
	font-size: 16px;
}
.custom_908 {
	width: 20px;
	margin-right: 10px;
} 
.email_us.sign_page {
	padding-top: 30px;
} 
.login_outer .btn.btn-default {
	width: 100%;
	text-transform: uppercase;
	margin-top: 10px;
	padding:10px;
} 
.login_outer .btn.btn-default:hover{
	background-color:#286090;
	color:#fff;
}
.sign_click {
	display: none;
}   

/**sign in end**/

.banner_outer {
	background-color: #234b7e;
	margin-top: 50px;
	padding-top: 45px;
	padding-bottom: 110px;
	height: 660px;
}

/*******animation css start*************/
.preload {
   background-color: rgba(255,255,255,1);
   width: 45px;    
   border-radius: 13px;
   padding: 5px 10px 4px;
   border-top-left-radius: 8px;    
}
.hi_outer {
background-color: rgba(255,255,255,0.84);
width: 45px;
height: 32px;	
border-radius: 13px;
padding: 5px 10px 4px;
border-top-left-radius: 8px;
text-align: center;
font-weight: 400;
}

.video_outer {
background-color: rgba(0,0, 0,0.84);
width: 1px;
height: 1px;
margin-top: 10px;
border-radius: 13px;
border-top-left-radius: 8px;
text-align: center;
}

.hi_outer2 {
background-color: rgba(255,255,255,0.84);
margin-top: 10px;
width: 1px;
border-radius: 13px;
padding: 0;
border-top-left-radius: 8px;
text-align: center;
font-weight: 400;
font-size: 17px;
}
/********animation css end************/
.email_us.archie_email {
	padding-top: 30px;
}
.archies_banner {
	margin-top: 80px;
	margin-bottom: 50px;
}
.archies_banner {
	margin: 40px auto;
	text-align: center;
}
.archie_do_outer .archies_banner {
	margin-top: 80px;
}
.first01 h3, .first02 h3 {
	margin: 0px !important;
	font-size: 20px !important;
}
.footer_ptag .archie58.middle_outer8 {
	text-align: center;
	margin-bottom: 70px;
}
.first01 {
	background-color: #0d2166;
	color: #fff;
	border-radius: 4px;
	padding: 8px 8px 10px;
}
.first02 {
	border-radius: 4px;
	padding: 8px 8px 10px;
}
.ten_ques {
	background-color: #f1f4f3;
	margin-top: 25px;
	box-shadow: 0px 0px 16px 1px #ccc;
	margin-bottom: 20px !important;
}
.archies_banner iframe {
	width: 44%;
	border-radius: 14px;
}
.archie_do_outer h1 {
	font-weight: normal;
	font-size: 27px;
}
.first01 h3 span {
	font-size: 14px;
	margin-left: 10px;
}
.top_heading b {
	font-size: 28px;
}
.archie_do_outer h2 {
	font-weight: normal;
	margin-bottom: 30px;
}
.logo {
	width: 50px;
	margin-top: 5px;
}
header {
	top: 0;
	width: 100%;
	position: fixed;
	box-shadow: 0 0 1px;
	z-index: 10;
	height: 50px;
	border-bottom: 1px solid #fff;
	background-color: #fff;
}
header .navbar-default {
	background-color: transparent;
	border-color: transparent;
}
header .navbar-brand {

	padding: 0px 15px !important;
}
.nav.navbar-nav.custom_navbar li a {
	font-size: 16px;
	color: #234b7e;
}
header .navbar {

	margin-bottom: 0px !important;

}
.nav.navbar-nav.navbar-right li a {
	font-size: 15px;
	color: #234b7e;
}
.banner_img img {
	width: 100%;
}
/*.banner_img {
	position: relative;
}
.container.custom_div {
	position: absolute;
	width: 100%;
	top: 120px;
}
.hi_outer {
	background-color: rgba(255,255,255,0.84);
	width: 129px;
	border-radius: 13px;
	padding: 11px 0 4px;
	border-top-left-radius: 8px;
	text-align: center;
	font-weight: 400;
}*/
.video_outer {
	margin-top: 10px;
}
.hi_outer.about {
	width: auto;
	text-align: left;
	font-weight: 500;
	font-size: 17px;
	padding-left: 10px;
	padding-right: 10px;
	width: 75%;
}
.video_outer iframe {
	width: 100%;
}
.border_bootom {
	float: right;
	margin-top: 16px;
	margin-right: 40px;
}
.learn_more {
	background-color: rgba(44,44,44,0.67);
	color: #fff;
	font-size: 16px;
	padding: 13px 15px;
	border-radius: 15px;
	border-bottom-left-radius: 10px;
}
.yellow_btn {
	background-color: #f2ac54;
	padding: 13px;
	margin-right: 10px;
	border-radius: 18px;
	border-bottom-right-radius: 7px;
	font-size: 16px;
}
.custom_google {
	width: 35px !important;
}

/*.cutom_shape{
	width:100%;

	 	-webkit-clip-path: polygon(0 1%, 100% 0, 100% 100%, 0 100%);
	clip-path: polygon(0 1%, 100% 0, 100% 100%, 0 100%);
	margin-top: calc(-14vh);
}*/
.patner_logo img {
	width: 50px;
}
.partners {
	text-align: center;
	margin-top: 30px;
	margin-bottom: 30px;
	font-size: 24px;
	color: #343657;
	font-size: 28px;
	text-transform: uppercase;
	font-weight: bold;
}
h2 {
	text-transform: uppercase;
	font-weight: bold;
	color: #343657;
	font-size: 28px;
}
.press_logo img {
	width: 220px;
}
.product_hurt {
	text-align: right;
	margin-top: 50px;
}
.product_hurt img {
	width: 100px;
}
.read_custom img {
	width: 210px;
}
.read_custom {
	margin-top: 45px;
}
.who_left img {
	text-align: right;
	float: right;
	margin-top: 40%;
	border-top: 15px solid #234b7e;
	border-radius: 15px;
	border-bottom: 15px solid #234b7e;
}

.archie {
	margin-top: 90px;
	background-color: #1e4725;
	padding-top: 20px;
	padding-bottom: 0px;
	position: relative;
	width: 100%;
}
.archie h1 {
	color: #fff;
	text-align: center;
	position: relative;
	margin-bottom: 50px;
}
p {
	font-size: 20px;
	margin: -4px;
}
.who_right img {
	width: 380px;
}
.lap img {
	width: 400px;
}
.yellow_inner_outer h2 {
	color: #fff;
}
.lap{
	margin-top:60%;
}
.custom_btn9 {
	background-color: #0d2166;
	padding: 12px 30px;
	border: 1px solid #fff !important;
}
.try_outer {
	margin: 30px auto;
	text-align: center;
	border: transparent !important;
}
.try_outer a p {
	color: #fff;
	margin-top: 20px;
}
.blue {
	background-color: #022069;
	position: relative;
	width: 100%;
}
.amajon img {
	width: 70%;
}
.amajon {
	margin: 0 auto;
	text-align: center;
	padding-bottom: 140px;
}
.shape_outer {
	position: relative;
	width: 100%;
}
.yellow_outer {
	background-color: #fbc407;
}
.yellow_inner_outer {
	margin: 0 auto;
	text-align: center;
}
.yellow_inner_outer h4 {
	color: #fff;
}
.yellow_gif {
	width: 70%;
}
.web_app {
	width: 100%;
}
.web_ap {
	margin-top: 60px;
}
.archie58 {
	margin-top: 30px;
}
.hi_outer.about.mobile_devices5 {
	float: right;
	width: 310px;
	text-align: center;
}
.google_analytics {
	margin: 0 auto;
	text-align: center;
	padding: 50px 0 100px;
	position: relative;
	width: 100%;
	background-color: #fff;
}
.report {
	width: 50%;
}
.yellow_outer {
	background-color: #10856a;
	padding: 50px 0 150px;
	position: relative;
	width: 100%;
}
.custom_more {
	margin-top: 40px;
}
.cutom_shape {
	width: 100%;
	position: relative;
	background-color: #fff;
	padding-bottom: 30px;
}
.cutom_shape::before, .blue::before, .yellow_outer::before, .google_analytics::before {
	position: absolute;
	top: 0;
	bottom: 335px;
	left: 0;
	right: 0;
	content: '';
	background: inherit;
	transform-origin: top left;
	transform: skewy(-4deg);
}
.archie::before{
		position: absolute;
	top: 0;
	bottom: 0px;
	left: 0;
	right: 0;
	content: '';
	background: inherit;
	transform-origin: top left;
	transform: skewy(-4deg);
}
.google_analytics::before {
	position: absolute;
	top: 0;
	bottom: 88%;
	left: 0;
	right: 0;
	content: '';
	background: inherit;
	transform-origin: top left;
	transform: skewy(-4deg);
}
.archies_do_outer {
	width: 100%;
	position: relative;
	background-color: #fff;
	padding-bottom: 130px;
}
.archies_do_outer::before {
	position: absolute;
	top: 0;
	bottom: 0;
	left: 15px;
	right: 15px;
	content: '';
	background: inherit;
	transform-origin: top left;
	transform: skewy(-4deg);
	border-top: 1px solid #ccc;
}
.logo65 {
	width: 50px;
}
.middle_logo87 {
	margin: 0 auto;
	text-align: center;
	position: absolute;
	top: -65px;
	left: 0;
	right: 0;
}
.can_middle {
	margin: 0 auto;
	text-align: center;
}
.doat {
	text-align: center;
	width: 100%;
	overflow: hidden;
	position: relative;
}
.right_now {
	float: left;
	text-align: left;
	margin-left: 170px;
	font-size: 18px;
}
.custom_doat {
	position: absolute;
	margin: 0 auto;
	text-align: center;
	left: 110px;
}
.can_middle h5 {
	margin-bottom: 40px;
}
.custom_doat01 {
	position: absolute;
	left: 107px;
	top: 0;
}
.archi_work h1 {
	text-align: center;
	padding-top: 60px;
	padding-bottom: 20px;
	font-size: 28px;
	font-weight: bold;
	color: #343657;
}
h1 {
	font-size: 28px;
	text-transform: uppercase;
	font-weight: bold;
	color: #343657;
}
footer h2 {
	color: #fff !important;
}
.now_application {
	margin: 0 auto;
	text-align: center;
}
.custom_doat03 {
	position: absolute;
	left: 110px;
}
.archies_do_outer .archie58.middle_outer8 {
	text-align: center;
}
.video_images {
	margin: 0 auto;
	text-align: center;
}
.custom_youtube68 {
	width: 340px;
}
.case_studies {
	text-align: center;
	margin: 0 auto;
}
.three_img02 .custom_ap {
	width: 150px;
	margin-left:10px;
	margin-right:10px;
}
.three_img01 .custom_ap, .three_img03 .custom_ap {
	width: 75px;
}
.three_img02 .custom_ap {
	width: 220px;
	margin-left: 40px;
	margin-right: 40px;
}
footer {
	background-color: #234b7e;
	position: relative;
	width: 100%;
	padding-top: 60px;
}
.email_us {
	background-color: #234b7e;
	/*padding-top: 200px;*/
}
footer::before {
	position: absolute;
	top: 0;
	bottom: 793px;
	left: 0;
	right: 0;
	content: '';
	background: inherit;
	transform-origin: top left;
	transform: skewy(-4deg);
}
.footer_inner {
	color: #fff;
	text-align: center;
}
.archie58.middle_outer8.footer58 {
	margin-top: 10px;
}
footer p {
	margin-top: 50px;
}
.custom_email {
	color: #fff;
	text-align: center;
	margin: 0 auto;
	display: block;
}
a:hover{
	color:#fff;
	text-decoration:none;
}
.second_link {
	margin: 15px auto;
	text-align: center;
}
.second_link a {
	color:#fff;
	padding-left:10px;
	padding-right:10px;

}
.custom_footer01 {
	width: 50px;
}
.all_logo{
	margin-left:15px;
	margin-right:15px;
}
.custom_footer01 {
	margin-left: 10px;
	margin-top: 15px;
	margin-bottom:15px;
}
/******custom responsive*******/
@media only screen and (max-width: 1199px){
	#hi_outer2 {
	width: 100% !important;
}
#video_outer {
	height: 170px !important;
	width: 100% !important;
}
.video_outer iframe {
	width: 100% !important;
	height: auto !important;
}

#hi_outer2 p {
	font-size: 14px;
}
.cutom_shape::before, .archie::before, .blue::before, .yellow_outer::before {
	bottom: 301px !important;
}
.custom_footer01 {
	width: 39px;
}
.banner_outer {
	height: 500px;
}
}
@media only screen and (max-width: 991px){
.container.custom_div {
	top: 61px;
}
.custom_youtube68 {
	width: 250px;
}
#hi_outer2 p {
	font-size: 10px;
}
.yellow_btn {
	padding: 8px;
	margin-right: 4px;
	font-size: 12px;
}
.learn_more {
	font-size: 9px;
	padding: 8px 12px;

}
.nav.navbar-nav.custom_navbar li a {
	font-size: 13px;
}
.nav.navbar-nav.navbar-right li a {
	font-size: 12px;
}
.who_right img {
	width: 100%;
}
.cutom_shape::before, .archie::before, .blue::before, .yellow_outer::before {
	bottom: 257px !important;
}
.yellow_inner_outer br {
	display: none;
}
.footer_inner img {
	width: 100%;
}
 h1 {
	font-size: 33px;
}
.custom_footer01 {
	width: 30px;
}
.custom_footer01 {
	margin-left: 5px;
}
.yellow_inner_outer h2 {
	font-size: 22px;
	line-height: 30px;
}
.middle_logo87 {
	top: -60px !important;

}
footer::before {
	bottom: 640px !important;

}
.lap img {
	width: 100%;
}
.banner_outer {
	height: 500px !important;
}
.free_mail {
	font-size: 20px;
	margin-bottom: 10px;
}
.welcomeback img {
	width: 70%;
}
.welcomeback {
	margin-top: 40px;
}
.reports h1 {
	font-size: 24px !important;
}
.bg_text01, .bg_text02 {
	margin-top: 10px;
	margin-bottom: 10px;
	font-size: 18px !important;
}
.fa.fa-circle.custom_circle {
	font-size: 14px;
}
.privacy_inner h1 {
	font-size: 18px !important;
}
.privacy-policy {
	margin-top: 60px;
	margin-bottom: 50px;
}
.privacy_inner h3 {
	font-size: 21px;
}	
}
@media only screen and (max-width: 767px){
	.archie58.middle_outer8.custom_log_google {
	width: 80% !important;
	margin: 0 auto !important;
}
	.free_mail {
	font-size: 17px;
	margin-bottom: 10px;
}
.welcomeback {
	margin-top: 50px;
}
	
	.patner_logo, .press_logo, .product_hurt, .read_custom, .who_left  {
	margin: 0 auto;
	text-align: center;
}
.who_left img {
	text-align: none;
	float: none !important;
	margin-top: 0%;
}
.who_right {
	margin: 20px auto;
	text-align: center;
}
.who_right img {
	width: 70%;
	margin: 0 auto;
	text-align: center;
}
.lap img {
	width: 50%;
}
.lap {
	margin: 0 auto;
	text-align: center;
}
.try_outer {
	margin: 0px auto;
	text-align: center;
	border: transparent !important;
}
.archie {
	padding-top: 0px;
	padding-bottom: 90px;
}
.amajon {
	padding-bottom: 70px;
}
h1 {
	font-size: 26px;
}    
h2 {
	font-size: 22px;
}
.email_us {
	padding-top: 30px;
}
.custom_footer01 {
	width: 28px;
}
.custom_youtube68 {
	width: 180px;
}

.nav.navbar-nav.custom_navbar {
	background-color: #234b7e !important;
	margin-top: 0px !important;
}
.nav.navbar-nav.navbar-right {
	background-color: #234b7e;
	margin-top: -9px;
}
.nav.navbar-nav.navbar-right li a {
	color: #fff !important;
	border-bottom: 2px solid #fff;
}
.nav.navbar-nav.custom_navbar li:hover {
	border-bottom: 1px solid #fff;
}
.nav.navbar-nav.custom_navbar li a {
	color: #fff !important;
}
.cutom_shape::before, .archie::before, .blue::before, .yellow_outer::before, .google_analytics::before, footer::before {
	display: none;
}
.archies_do_outer {
	padding-bottom: 80px;
}
.press_logo img {
	width: 180px;
}
.banner_overlap {
	padding-left: 0px;
}
.archie h1 {
	color: #fff;
	text-align: center;
	margin-bottom: 20px;
}
.backgroun_banner78 {
	height: 420px;
}
.container.custom_div {
	top: 70px;
}
#hi_outer2 {
	height: 35px !important;
}
.custom_doat01 {
	left: 0;
}
.banner_outer {
	height: 420px !important;
}
.archies_banner.growth_do_outer iframe {
	width: 100%;
}
.top_ten_outer {
	margin-top: 0 !important;
}
.archies_banner.growth_do_outer {
	margin-bottom: 0px !important;
}
.top_ten_outer {
	margin-top: 20px !important;
}
.top_heading b {
	font-size: 22px !important;
}
.archie_do_outer h1 {
	font-size: 20px !important;
}
.blue.red_more_blue {
	padding-bottom: 30px;
}
.google_analytics {

	padding: 50px 0 40px !important;
}
.google_analytics.custom_read {
	margin-top: 10px !important;
	position: inherit !important;
}
.science_outer {    
	font-size: 20px;
}
.bllue_team01 {
	font-size: 18px;
}
.own_natural, .bulied_images, .right_overlap {
	margin: 0 auto;
	text-align: center;
}
.bulied_images img {
	float: inherit !important;
	margin-bottom: 20px !important;
}
.github_outer {
	margin: 10px auto;
	text-align: center;
}
.github_outer img {
	width: 200px !important;
    
}
.github_text {
	margin-left: 0px !important;
	margin-right: 0 !important;
}
.read_further {
	margin-left: 0px !important;

}



}
@media only screen and (max-width: 480px){
	.cases_outer {
	margin-top: 20px !important;            
}
	.chat_bubble {
	font-size: 22px;
}
.open_banner_overlap {
	margin-bottom: 20px;
}
	.open_source_banner {
	padding-top: 20px !important;
	padding-bottom: 30px !important;
}
	.privacy_inner h3 {
	font-size: 14px;
	font-weight: bold;
}
	.privacy_inner h1 {
	font-size: 15px !important;
}
.privacy-policy p {
	font-size: 16px;
}
	.free_mail {
	font-size: 16px;
	margin-top: 10px;
}
	.archie_do_outer h1 {
	font-size: 16px !important;
}
	.archies_banner.growth_do_outer iframe {
	height: auto !important;
}
	.top_heading b {
	font-size: 18px !important;    
}
	.hi_outer.about.mobile_devices5 p {
	font-size: 18px !important;
}
	.partners {
	margin-top: 20px;
	margin-bottom: 10px;
	font-size: 18px !important;

}
	.banner_outer {
	height: 410px;
}	
	.who_left img {
	width: 100%;
}
.yellow_inner_outer h2 {
	font-size: 15px;
	line-height: 24px;
}
.yellow_outer {
	padding: 10px 0 30px;
}
.hi_outer.about.mobile_devices5 {
	margin-top: 10px;
}
.archie {
	padding-top: 0px;
	padding-bottom: 10px;
}
h1 {
	font-size: 17px !important;
}
.amajon {
	padding-bottom: 20px;
}
.hi_outer.about.mobile_devices5 {
	width: 100%;
	text-align: center;
}
.google_analytics {
	padding: 0px 0 50px;
}
.logo65 {
	width: 27px;
}
.middle_logo87 {
	top: -26px !important;
}
.custom_doat {
	left: 0px;
}
.right_now {
	margin-left: 60px;
}h2 {
	font-size: 18px;
}
.custom_doat03 {
	left: 0;
}
h3 {  
	font-size: 18px;
}
.custom_youtube68 {
	width: 140px;
}
.three_img01 .custom_ap, .three_img03 .custom_ap {
	width: 50px;
}
.three_img02 .custom_ap {
	width: 160px;

}

footer {
	padding-top: 0px;   
}
.archie58.middle_outer8.footer58 {
	margin-top: 5px;
}
.reports h1 {
	font-size: 14px !important;
	margin-top: 15px;
	margin-bottom: 10px;
}
.welcomeback {
	margin-top: 20px !important;
}
}